#login {
	font-weight: bold;
	position: absolute;
	left: 0;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
	font-size: 1.25vw;
	bottom: 55vh;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #d1b790;
  }